table {
    border-collapse: collapse;
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 5px 50px 5px 10px;
    text-align: left;
}
tr:nth-child(even), thead>tr {
    background-color: #eee;
}